.header {
display: flex;
justify-content: space-between;
margin-bottom: 170px;
}
.wrapper {
margin: auto;
width: 80%;
}
.logo,.menu {
display:inline-block;
}
.logo {
position: relative;
padding-top: 40px;
padding-left:45px;
font: bold 24px/32px PT_Serif, Aria,Helvetica,Sana-serif;
}
.logo__circle {
  position:absolute;
  left:0;
  top:50%
  transform: translateY(-50%);
  width: 28px;
  height:28px;
  opacity:.7;
  border-radius: 50%;
}
.logo__circle_color_blue {
  left:8px;
  top:60%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue {
  background: #0056EC;
}
.mobile-logo {
  display:none;
}
ul {
  display: none;
}
#menu__toggle {
  display: none;
}
.menu {
padding-top: 40px;
display:flex;
align-items: center;
}
.menu__item {
position: relative;
margin-right: 26px;
font: 500 18px/21px 'Roboto',arial,helvetica,sans-serif;
color: #000;
cursor: pointer;
text-decoration: none;
transition:opacity.5s;
}
.menu__item:after {
  position:absolute;
  display:block;
  content:"";
  left:0;
  width:0;
  height:3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s,width .5s ease-out;
}
.menu__item:last-child {
margin-right:0;
}
.menu__item:hover {
opacity: 0.5;
color: #000080;
}
.menu__item_active:hover {
opacity: 1;
color: #000;
}
.menu__item:hover:after,.menu__item_active:after {
  opacity: 1;
  width: 100%;
}
.main {
padding:0 63% 800px 0;
background: top right no-repeat url('picture.svg');
background-repeat: no-repeat;
background-position: right top;
}
.main__title {
font:bold 66px/87px 'PT_Serif';
font-style: normal;
margin-bottom:40px;
}
.main__title-text-highlight {
background-color:#ECF3FF
}
.main__description {
font: normal 400 22px/26px 'Roboto';
margin-top:40px;
margin-bottom: 59px;
}
.main__button {
font-family:'Roboto'Aria, Helvetica, Sana-serif;
font-weight:500;
font-size:18px;
line-height: 21px;
color: white;
background: #0056EC;
width: 270px;
height: 57px;
border-radius:4px;
text-decoration: none;
padding: 14px 16px;
transition: opacity: .5s;
transition: background-color 1000ms;
}
.main__button:hover {
  opacity: .5;
background-color: #D40FA9;
}
